body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    margin: 40px 0;
    padding: 2%;
    border: black solid 2px;
    border-radius: 10px;
    width: 20%;
    
}

p{
    color: whitesmoke;
    font-size: 20px;

}


a{
    text-decoration: none;
    font-size: 20px;
    background-color: rebeccapurple;
    color: whitesmoke;
}
